@import url('https://fonts.googleapis.com/css?family=Lato: 400, 400i, 700, 700i|Merriweather:400, 400i, 700, 700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
body {
    padding: 5em;
    background: #E2E2E2;
}

header .image-wrapper {
    margin: 0;
}

.content-wrapper {
    background: rgba(252, 236, 213, 0.3);
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #aaa;
    background: #FFF;
}

.image-wrapper {
    overflow: hidden;
    text-align: center;
}

.site-header .site-title a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

.site-header .site-title a:hover {
    color: #1982d1;
}

.site-header div {
    font-size: 0.8rem;
}

.site-header .site-description {
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.site-header .wrapper {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



.wrapper #searchsubmit{
    display: none;
}

.post {
    margin: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    
}

.post header h1 {
    font-weight: bold;
}

.post main {
    padding: 1rem;
    background: #ddd;
}

.post footer {
    font-size: 0.8rem;
}



footer .wrapper{
    background: #D1D1D9;
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #AAA;
}

footer .wrapper a{
    text-decoration: none;
    color: #333;
    
}

main {
    display: flex;
    justify-content: space-between;
}

main .secondary-area ul {
    line-height: 1;

}

main .secondary-area ul li a {
    text-decoration: none;
    color: #3593E0;
    font-size: 0.7rem;
}
main .secondary-area ul li a:hover {
    text-decoration: underline;
}

main .secondary-area p {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    color: #444;
    padding-left: 2.5rem;
}








.field .input {
	display: flex;
	position: relative;
	align-items: center;
}

/* .field .input:after {
	display: block;
	content: '';
} */

.field .input input {
	border: none;
	flex: 1 1 auto;
	padding: 0.8rem;
	outline: none;
	background: transparent;
	z-index: 2;
	order: 2;
}

.field .input .fas {
	z-index: 2;
	position: relative;
	padding: 0 0 0 0.8rem;
	font-size: 0.9em;
	order: 1;
}

.field .input input + .actions {
	display: block;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 0.3rem;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
}

.field .input input:focus + .actions {
	border-color: #090;
}

.field .input input:focus + .actions + .fas {
	color: #090;
}
