<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/typography.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/buttons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/navigation.css">


</head>

<body>
        <div class="page">
            <header>
                <nav class="main">
                    <ul>
                        <li><a href="{{site.baseurl}}/">Home</a></li>
                        <li><a href="{{site.baseurl}}/test-buttons/">Page</a>
                            <ul>
                                <li><a href="#">Sub Page</a></li>
                            </ul>
                        </li>
                        <li><a href="{{site.baseurl}}/About/">About</a></li>
                        <li><a href="{{site.baseurl}}/test-buttons/">Test Buttons</a></li>
                        <li><a href="{{site.baseurl}}/test-typography/">Test Typography</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    {{content}}
</body>

</html>